html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
}

body {
  margin: 0;
  background-color: #0d0d0d;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
